/* ------------------ /*
 * Navigation Bar 
/* ------------------ */

.navBar {
    color: black;  
    background-color: white; 
}

body{
    color:black; 
}

.nav-wrapper {
    background-color: white; 
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    color: black;
    padding-left: 50px; 
    position:relative; 
    
}

/* ------------------ /*
 * Typography  
/* ------------------ */

h3, h5 {
    font-family: 'Roboto', sans-serif;
}

/* ------------------ /*
 * Parallax   
/* ------------------ */
.parallax-container {
    height: auto; 
    max-height: 220px;  
    line-height: 0;
    width: 100%; 
    color: rgba(255,255,255,.9);
}
    .parallax-container .section {
    width: 100%;
  }
  
  .parallax {
    height: auto; 
    min-height: 100px; 
    line-height: 0;
    width: 100%; 
    color: rgba(255,255,255,.9);
}

  @media only screen and (max-width : 992px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }
    #index-banner .section {
      top: 10%;
    }
  }
  
  @media only screen and (max-width : 600px) {
    #index-banner .section {
      top: 0;
    }
  }
  
  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }
  
  footer.page-footer {
    margin: 0;
  }
  
  /* .portfolioImage {
    width: 38%;
    height: 275px; 
    display: inline-block; 
    float: left; 
    border: 0 none;
    
  } */

.box {
    position: relative;
    clear: both; 
    margin: auto;
}

#portfolioImage {
    position: relative; 
    display: inline-block; 
    width: 355px; 
    height: 225px; 
    float: left; 
}